<header nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "MyRecipes", root_path, class: "navbar-brand" %>
    
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
      
      <ul class="nav navbar-nav">
        <% if logged_in? %>
           <li>
              <%= link_to "Submit Recipe", new_recipe_path, class: "navbar btn btn-default" %>
           </li>
           <li class="dropdown">
             <%= link_to '#', class: "btn btn-default dropdown-toggle", "data-toggle" => "dropdown" do %>
               <%= current_user.chefname %> <b class="caret"></b>
               <% end %>
               <ul class='dropdown-menu'>
                 
                 <li><%= link_to "View Profile", chef_path(current_user) %></li>
                 <li><%= link_to "Edit Profile", edit_chef_path(current_user) %></li>
                 <li class="divider"></li>
                 <li><%= link_to "Logout", logout_path %></li>

                 
               </ul>
               
           </li>
           
           <% else %>
           
           <div class="nav_item">
             
             <%= link_to "Log In", login_path, class: "btn btn-default btn-success" %>
             
           </div>
           
           <% end %>
        
      </ul>
      
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Styles <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ingredients <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      
      <ul class="nav navbar-nav">
         <li>
            <button type="submit" class="navbar btn btn-default">Log In</button>
        </li>
      </ul>
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</header>
<div="clear">
</div>